In [1]:
import os 
import pandas as pd
import numpy as np
dir=os.getcwd().split('/')
datadir='/'.join(dir[0:-1])+'/data'
modeldir='/'.join(dir[0:-1])+'/models'
df=pd.read_csv(datadir+'/heart-disease.csv')
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
# X labels
x= df.drop('target',axis=1)
x.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [3]:
# y labels 
y= df['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [4]:
from sklearn.ensemble import RandomForestClassifier

In [5]:
classifier = RandomForestClassifier(n_estimators=100)
classifier.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [7]:
# prediction

In [8]:
y_preds=classifier.predict(X_test)
y_preds

array([0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1])

In [9]:
classifier.score(X_train,y_train)

1.0

In [10]:
classifier.score(X_test,y_test)

0.7868852459016393

In [11]:
from sklearn.metrics import  classification_report,confusion_matrix,accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.72      0.75      0.73        24
           1       0.83      0.81      0.82        37

    accuracy                           0.79        61
   macro avg       0.78      0.78      0.78        61
weighted avg       0.79      0.79      0.79        61

In [12]:
confusion_matrix(y_test,y_preds)

array([[18,  6],
       [ 7, 30]])

In [13]:
# imprvements
# diff estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"try with {i} estimator...")
    clf=RandomForestClassifier(n_estimators=i)
    clf.fit(X_train,y_train)
    print(f"Model accuracy on test set {clf.score(X_test, y_test)*100:.2f}%")

try with 10 estimator...
Model accuracy on test set 81.97%
try with 20 estimator...
Model accuracy on test set 81.97%
try with 30 estimator...
Model accuracy on test set 80.33%
try with 40 estimator...
Model accuracy on test set 78.69%
try with 50 estimator...
Model accuracy on test set 78.69%
try with 60 estimator...
Model accuracy on test set 80.33%
try with 70 estimator...
Model accuracy on test set 75.41%
try with 80 estimator...
Model accuracy on test set 78.69%
try with 90 estimator...
Model accuracy on test set 80.33%

# save model

import pickle

In [17]:
import pickle

In [18]:
classifier=RandomForestClassifier(n_estimators=70)
classifier.fit(X_train,y_train)
pickle.dump(clf,open(modeldir+'/random_forst_model_2.pkl','wb'))

In [19]:
load_mdl=pickle.load(open(modeldir+'/random_forst_model_2.pkl','rb'))
load_mdl.score(X_test,y_test)

0.8032786885245902